# Descriptif de notre fichier de données

Le fichier de données OWID-CO2 est un ensemble de données sur les émissions de dioxyde de carbone (CO2) et d'autres gaz à effet de serre dans le monde. Les données sont présentées sous forme de tableaux contenant des informations sur les émissions de CO2 provenant de différentes sources telles que les combustibles fossiles, la production d'énergie et l'utilisation des sols.

Le fichier de données contient des informations sur les émissions de CO2 pour différents pays et régions, ainsi que des données mondiales sur les émissions de CO2. Les données sont présentées pour différentes années, de 1751 à 2021, et sont mises à jour régulièrement.

Outre les données sur les émissions de CO2, le fichier de données OWID-CO2 contient également des informations sur d'autres gaz à effet de serre, tels que le méthane et l'oxyde nitreux.

# Problème de notre fichier de données et le prétraitemet réalisé

Notre fichier de données contient beaucoup de données manquante dispersées dans tout le dataset se qui affecte la qualité de la visualisation, on a remarqué qu'avant l'année 2000 on a beaucoup de données manquantes dans différentes colonnes et différents continents, donc on a préféré de prendre que les lignes qui ont une valeur supérieur à 2000 pour tous les continents, meme aprés ce traitement on avait toujours beacoup des données manquantes , cela nous a poussé à voir les colonnes qui ont des valeurs manquantes, si la colonne contient beacoup de valeurs maquantes dans les différents continents on préfère supprimer la colonne comme la colonne 'gdp','cement_co2','co2_growth_abs'... sinon si les valeurs maquantes sont concentrés dans quelque continents on a préféré de supprimer les lignes qui correspondent au nom de continent, en plus il y a des donné des colonnes qui la meme information sauf que les unités sont différentes par exemple 'cement_co2' et 'cement_co2_per_capita'.

In [1]:
import pandas as pd
from IPython.display import display

In [2]:
data = pd.read_csv("co2-data.csv")

In [29]:
nan_counts = data.isna().sum()
nan_counts.head(74)

country                         0
year                            0
iso_code                     6661
population                   7949
gdp                         31972
                            ...
share_global_other_co2      44137
total_ghg                   40374
total_ghg_excluding_lucf    40374
trade_co2                   42264
trade_co2_share             42265
Length: 74, dtype: int64

In [3]:
print(data)

           country  year iso_code  population           gdp  cement_co2  \
0      Afghanistan  1850      AFG   3752993.0           NaN         NaN
1      Afghanistan  1851      AFG   3769828.0           NaN         NaN
2      Afghanistan  1852      AFG   3787706.0           NaN         NaN
3      Afghanistan  1853      AFG   3806634.0           NaN         NaN
4      Afghanistan  1854      AFG   3825655.0           NaN         NaN
...            ...   ...      ...         ...           ...         ...
46518     Zimbabwe  2017      ZWE  14751101.0  2.194784e+10       0.469
46519     Zimbabwe  2018      ZWE  15052191.0  2.271535e+10       0.558
46520     Zimbabwe  2019      ZWE  15354606.0           NaN       0.570
46521     Zimbabwe  2020      ZWE  15669663.0           NaN       0.570
46522     Zimbabwe  2021      ZWE  15993525.0           NaN       0.570

       cement_co2_per_capita     co2  co2_growth_abs  co2_growth_prct  ...  \
0                        NaN     NaN             NaN              NaN  ...
1                        NaN     NaN             NaN              NaN  ...
2                        NaN     NaN             NaN              NaN  ...
3                        NaN     NaN             NaN              NaN  ...
4                        NaN     NaN             NaN              NaN  ...
...                      ...     ...             ...              ...  ...
46518                  0.032   9.596          -0.937           -8.899  ...
46519                  0.037  11.795           2.199           22.920  ...
46520                  0.037  11.115          -0.681           -5.772  ...
46521                  0.036  10.608          -0.507           -4.559  ...
46522                  0.036  11.296           0.688            6.488  ...

       share_global_cumulative_other_co2  share_global_flaring_co2  \
0                                    NaN                       NaN
1                                    NaN                       NaN
2                                    NaN                       NaN
3                                    NaN                       NaN
4                                    NaN                       NaN
...                                  ...                       ...
46518                                NaN                       0.0
46519                                NaN                       0.0
46520                                NaN                       0.0
46521                                NaN                       0.0
46522                                NaN                       0.0

       share_global_gas_co2  share_global_luc_co2  share_global_oil_co2  \
0                       NaN                 0.121                   NaN
1                       NaN                 0.118                   NaN
2                       NaN                 0.116                   NaN
3                       NaN                 0.115                   NaN
4                       NaN                 0.114                   NaN
...                     ...                   ...                   ...
46518                   0.0                 0.219                 0.026
46519                   0.0                 0.211                 0.033
46520                   0.0                 0.183                 0.030
46521                   0.0                 0.194                 0.030
46522                   0.0                 0.190                 0.030

       share_global_other_co2  total_ghg  total_ghg_excluding_lucf  trade_co2  \
0                         NaN        NaN                       NaN        NaN
1                         NaN        NaN                       NaN        NaN
2                         NaN        NaN                       NaN        NaN
3                         NaN        NaN                       NaN        NaN
4                         NaN        NaN                       NaN        NaN
...                       ...        ...                       ...        ...
46518                     NaN     115.59                     28.30      0.910
46519                     NaN     118.22                     30.83      0.771
46520                     NaN     117.96                     30.53      0.978
46521                     NaN        NaN                       NaN      1.006
46522                     NaN        NaN                       NaN        NaN

       trade_co2_share
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
...                ...
46518            9.486
46519            6.537
46520            8.795
46521            9.481
46522              NaN

[46523 rows x 74 columns]

In [4]:
display(data.head(70))

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.121,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3769828.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.118,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3787706.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.116,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3806634.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.115,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3825655.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.114,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Afghanistan,1915,AFG,7923871.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.155,NaN,NaN,NaN,NaN,NaN,NaN
66,Afghanistan,1916,AFG,8524936.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.158,NaN,NaN,NaN,NaN,NaN,NaN
67,Afghanistan,1917,AFG,9171589.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.158,NaN,NaN,NaN,NaN,NaN,NaN
68,Afghanistan,1918,AFG,9875230.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.158,NaN,NaN,NaN,NaN,NaN,NaN
69,Afghanistan,1919,AFG,10338650.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.160,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2',
       'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct',
       'co2_including_luc', 'co2_including_luc_growth_abs',
       'co2_including_luc_growth_prct', 'co2_including_luc_per_capita',
       'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy',
       'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2',
       'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita',
       'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita',
       'other_industry_co2', 'primary_energy_consumption',
       'share_global_cement_co2', 'share_global_co2',
       'share_global_co2_including_luc', 'share_global_coal_co2',
       'share_global_cumulative_cement_co2', 'share_global_cumulative_co2',
       'share_global_cumulative_co2_including_luc',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2',
       'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_luc_co2', 'share_global_oil_co2',
       'share_global_other_co2', 'total_ghg', 'total_ghg_excluding_lucf',
       'trade_co2', 'trade_co2_share'],
      dtype='object')

In [6]:
data.empty

False

In [7]:
data1=data.dropna()

In [8]:
print(data1)

             country  year iso_code   population           gdp  cement_co2  \
3513       Australia  1990      AUS   17048002.0  4.641366e+11       3.463
3514       Australia  1991      AUS   17271092.0  4.610038e+11       3.183
3515       Australia  1992      AUS   17462500.0  4.778432e+11       2.923
3516       Australia  1993      AUS   17631514.0  5.008406e+11       3.005
3517       Australia  1994      AUS   17805506.0  5.273462e+11       3.484
...              ...   ...      ...          ...           ...         ...
44215  United States  2014      USA  322033952.0  1.648266e+13      39.439
44216  United States  2015      USA  324607776.0  1.690258e+13      39.907
44217  United States  2016      USA  327210208.0  1.716256e+13      39.439
44218  United States  2017      USA  329791232.0  1.759628e+13      40.324
44219  United States  2018      USA  332140032.0  1.814065e+13      38.971

       cement_co2_per_capita       co2  co2_growth_abs  co2_growth_prct  ...  \
3513                   0.203   278.154           0.667            0.240  ...
3514                   0.184   279.529           1.374            0.494  ...
3515                   0.167   284.525           4.997            1.788  ...
3516                   0.170   288.871           4.345            1.527  ...
3517                   0.196   293.697           4.826            1.671  ...
...                      ...       ...             ...              ...  ...
44215                  0.122  5528.871          47.945            0.875  ...
44216                  0.123  5376.578        -152.293           -2.755  ...
44217                  0.121  5251.757        -124.820           -2.322  ...
44218                  0.122  5210.958         -40.800           -0.777  ...
44219                  0.117  5376.657         165.700            3.180  ...

       share_global_cumulative_other_co2  share_global_flaring_co2  \
3513                               0.121                     2.715
3514                               0.216                     2.474
3515                               0.299                     2.916
3516                               0.376                     2.924
3517                               0.456                     2.774
...                                  ...                       ...
44215                             16.335                    16.543
44216                             16.104                    16.976
44217                             15.864                    14.418
44218                             15.627                    15.114
44219                             15.370                    17.662

       share_global_gas_co2  share_global_luc_co2  share_global_oil_co2  \
3513                  0.899                -0.303                 0.961
3514                  0.839                -1.023                 0.908
3515                  0.858                 0.536                 0.953
3516                  0.877                 0.868                 0.979
3517                  0.903                 0.405                 0.992
...                     ...                   ...                   ...
44215                21.564                 0.668                19.244
44216                21.744                 0.419                19.157
44217                21.247                 1.354                19.125
44218                20.440                 1.522                18.907
44219                21.497                 1.936                19.283

       share_global_other_co2  total_ghg  total_ghg_excluding_lucf  trade_co2  \
3513                    0.998     541.39                    487.00    -34.986
3514                    1.028     541.38                    486.99    -35.681
3515                    1.086     542.04                    487.65    -38.076
3516                    1.189     544.20                    489.81    -41.467
3517                    1.385     550.17                    495.78    -37.908
...                       ...        ...                       ...        ...
44215                  10.636    5779.54                   6197.43    313.466
44216                  10.320    5665.21                   6082.16    418.464
44217                   9.545    5743.85                   5974.20    412.188
44218                   9.210    5689.61                   5918.76    424.355
44219                   8.164    5892.37                   6121.63    428.020

       trade_co2_share
3513           -12.578
3514           -12.765
3515           -13.382
3516           -14.355
3517           -12.907
...                ...
44215            5.670
44216            7.783
44217            7.849
44218            8.144
44219            7.961

[1234 rows x 74 columns]

In [9]:
data1.head(10)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
3513,Australia,1990,AUS,17048002.0,4.641366e+11,3.463,0.203,278.154,0.667,0.240,...,0.121,2.715,0.899,-0.303,0.961,0.998,541.39,487.00,-34.986,-12.578
3514,Australia,1991,AUS,17271092.0,4.610038e+11,3.183,0.184,279.529,1.374,0.494,...,0.216,2.474,0.839,-1.023,0.908,1.028,541.38,486.99,-35.681,-12.765
3515,Australia,1992,AUS,17462500.0,4.778432e+11,2.923,0.167,284.525,4.997,1.788,...,0.299,2.916,0.858,0.536,0.953,1.086,542.04,487.65,-38.076,-13.382
3516,Australia,1993,AUS,17631514.0,5.008406e+11,3.005,0.170,288.871,4.345,1.527,...,0.376,2.924,0.877,0.868,0.979,1.189,544.20,489.81,-41.467,-14.355
3517,Australia,1994,AUS,17805506.0,5.273462e+11,3.484,0.196,293.697,4.826,1.671,...,0.456,2.774,0.903,0.405,0.992,1.385,550.17,495.78,-37.908,-12.907
3518,Australia,1995,AUS,18003002.0,5.491729e+11,3.358,0.187,305.003,11.306,3.850,...,0.520,2.883,0.946,3.607,1.027,1.301,557.98,503.55,-43.599,-14.295
3519,Australia,1996,AUS,18211850.0,5.745514e+11,3.244,0.178,311.886,6.883,2.257,...,0.580,2.735,0.905,3.840,1.023,1.372,557.47,500.98,-44.110,-14.143
3520,Australia,1997,AUS,18410254.0,6.006211e+11,3.185,0.173,320.283,8.396,2.692,...,0.639,2.666,0.931,1.937,1.005,1.466,566.85,507.31,-44.964,-14.039
3521,Australia,1998,AUS,18601666.0,6.343051e+11,3.475,0.187,334.076,13.793,4.307,...,0.696,2.873,0.970,3.683,1.003,1.573,593.84,536.32,-39.592,-11.851
3522,Australia,1999,AUS,18800892.0,6.642068e+11,3.520,0.187,343.489,9.413,2.818,...,0.751,3.078,0.986,2.739,0.993,1.660,632.75,572.76,-48.062,-13.992

In [10]:
df = data[data['year'] > 2000]

In [11]:
df.to_csv('co2_2000.csv',sep='\t')

In [12]:
df1=df.drop(columns=['co2_per_capita','co2_per_unit_energy','coal_co2','coal_co2_per_capita','cumulative_coal_co2','cumulative_oil_co2','energy_per_capita','primary_energy_consumption','oil_co2_per_capita','land_use_change_co2','gas_co2_per_capita','flaring_co2_per_capita','flaring_co2','cumulative_gas_co2','cumulative_flaring_co2','cumulative_co2_including_luc','cumulative_co2','cumulative_cement_co2','cement_co2_per_capita','co2_growth_prct','co2_including_luc_growth_prct','co2_including_luc','co2_including_luc_growth_abs','co2_including_luc_growth_prct','co2_including_luc_per_capita','co2_including_luc_per_gdp','co2_including_luc_per_unit_energy','consumption_co2','consumption_co2_per_capita','consumption_co2_per_gdp','gdp','energy_per_gdp','cumulative_other_co2','cumulative_luc_co2','ghg_excluding_lucf_per_capita','land_use_change_co2_per_capita','co2_per_gdp','methane_per_capita','methane','ghg_per_capita','total_ghg_excluding_lucf','nitrous_oxide','nitrous_oxide_per_capita','share_global_cement_co2','share_global_co2','share_global_co2_including_luc','share_global_coal_co2','share_global_cumulative_cement_co2','share_global_cumulative_co2','share_global_cumulative_co2_including_luc','share_global_cumulative_coal_co2','share_global_cumulative_flaring_co2','share_global_cumulative_gas_co2','share_global_cumulative_luc_co2','share_global_cumulative_oil_co2','share_global_cumulative_other_co2','share_global_flaring_co2','share_global_gas_co2','share_global_luc_co2','share_global_oil_co2','other_co2_per_capita','other_industry_co2','share_global_other_co2','trade_co2','trade_co2_share','total_ghg','co2_growth_abs','co2'])

In [18]:
countries = df['country'].unique()
print(countries)

['Afghanistan' 'Africa' 'Africa (GCP)' 'Aland Islands' 'Albania' 'Algeria'
 'American Samoa' 'Andorra' 'Angola' 'Anguilla' 'Antarctica'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia' 'Asia (GCP)'
 'Asia (excl. China and India)' 'Australia' 'Austria' 'Azerbaijan'
 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Benin' 'Bermuda' 'Bhutan' 'Bolivia' 'Bonaire Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Central African Republic' 'Central America (GCP)'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Cook Islands'
 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus'
 'Czechia' 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe' 'Europe (GCP)'
 'Europe (excl. EU-27)' 'Europe (excl. EU-28)' 'European Union (27)'
 'European Union (27) (GCP)' 'European Union (28)' 'Faeroe Islands'
 'Falkland Islands' 'Fiji' 'Finland' 'France' 'French Guiana'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Greenland' 'Grenada' 'Guadeloupe' 'Guatemala' 'Guernsey' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'High-income countries' 'Honduras'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'International transport' 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania'
 'Low-income countries' 'Lower-middle-income countries' 'Luxembourg'
 'Macao' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte'
 'Mexico' 'Micronesia (country)' 'Middle East (GCP)' 'Moldova' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'Netherlands Antilles' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Non-OECD (GCP)'
 'North America' 'North America (GCP)' 'North America (excl. USA)'
 'North Korea' 'North Macedonia' 'Norway' 'OECD (GCP)' 'Oceania'
 'Oceania (GCP)' 'Oman' 'Pakistan' 'Palau' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Martin (French part)' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South America' 'South America (GCP)'
 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Svalbard and Jan Mayen' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Upper-middle-income countries' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Wallis and Futuna'
 'Western Sahara' 'World' 'Yemen' 'Zambia' 'Zimbabwe']

In [13]:
df2= df1[df1['country'].isin(['Slovakia', 'Slovenia', 'Solomon Islands',
 'South Africa', 
 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria' ,'Taiwan',
 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
 'Trinidad and Tobago', 'Tunisia', 'Turkey' ,'Turkmenistan',
 'Turks and Caicos Islands', 'Tuvalu', 'Uganda' ,'Ukraine',
 'United Arab Emirates', 'United Kingdom' ,'United States',
'Uruguay',
 'Uzbekistan', 'Vanuatu', 'Venezuela' ,'Vietnam', 'Wallis and Futuna',
 'Yemen' ,'Zambia','Moldova', 'Mongolia',
 'Montenegro' ,'Montserrat' ,'Morocco' ,'Mozambique', 'Myanmar', 'Namibia',
 'Nauru', 'Nepal' ,'Netherlands' ,'New Caledonia',
 'New Zealand' ,'Nicaragua' ,'Niger' ,'Nigeria', 'Niue''Faeroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
 'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea',
 'Guinea-Bissau' ,'Haiti', 'Honduras',
 'Hungary'  ,'India' ,'Indonesia',
 'Iran', 'Iraq' ,'Ireland', 'Isle of Man' 'Israel',
 'Italy', 'Jamaica', 'Japan', 'Jersey' 'Jordan', 'Kazakhstan', 'Kenya',
 'Kiribati' ,'Kuwait', 'Kyrgyzstan', 'Laos' ,'Latvia', 'Lebanon'
 ,'Lesotho', 'Liberia' ,'Libya', 'Liechtenstein', 'Lithuania',
 'Madagascar', 'Malawi' ,'Malaysia', 'Maldives' ,'Malta',
 'Marshall Islands' ,'Martinique', 'Mauritania' ,'Mauritius', 'Mayotte',
 'Mexico', 'Cape Verde', 'Central African Republic' , 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba' ,'Curacao', 'Cyprus'
, 'Czechia', 'Democratic Republic of Congo' ,'Denmark', 'Dominica',
 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea',
 'Eritrea', 'Estonia' ,'Eswatini', 'Ethiopia','Albania','Andorra','Angola','Australia', 'Austria', 'Azerbaijan',
 'Bahamas' ,'Bahrain' ,'Bangladesh' ,'Barbados' ,'Belarus' ,'Belgium' ,'Belize',
 'Benin', 'Bermuda', 'Bhutan' ,'Bolivia', 'Bonaire Sint Eustatius and Saba',
 'Bosnia and Herzegovina' ,'Brazil' ,'British Virgin Islands,'
 'Brunei', 'Bulgaria', 'Burkina Faso', 'Cambodia', 'Cameroon',
 'Canada','Antigua and Barbuda', 'Argentina', 'Aruba', 'Anguilla','Algeria','China','canada','Russia','Australia','United States','France'])]
pd.options.display.max_columns = None
display(df2)

       country  year iso_code  population  cement_co2  gas_co2  oil_co2
939    Albania  2001      ALB   3153615.0       0.000    0.015    3.125
940    Albania  2002      ALB   3123554.0       0.000    0.026    3.638
941    Albania  2003      ALB   3092993.0       0.302    0.026    3.891
942    Albania  2004      ALB   3062629.0       0.300    0.033    3.759
943    Albania  2005      ALB   3032636.0       0.256    0.022    3.910
...        ...   ...      ...         ...         ...      ...      ...
46346   Zambia  2017      ZMB  17298056.0       0.856    0.000    4.084
46347   Zambia  2018      ZMB  17835898.0       1.066    0.000    3.602
46348   Zambia  2019      ZMB  18380478.0       0.961    0.000    4.439
46349   Zambia  2020      ZMB  18927716.0       0.961    0.000    4.028
46350   Zambia  2021      ZMB  19473132.0       0.961    0.000    4.252

[3444 rows x 7 columns]

In [14]:
nan_counts = df2.isna().sum()
print(nan_counts)

country       0
year          0
iso_code      0
population    0
cement_co2    0
gas_co2       0
oil_co2       0
dtype: int64

In [15]:
result = df2[df2['cement_co2'].isna()]

# print the resulting DataFrame with the selected rows
print(result)

Empty DataFrame
Columns: [country, year, iso_code, population, cement_co2, gas_co2, oil_co2]
Index: []

In [17]:
df2.head(30)

      country  year iso_code  population  cement_co2  gas_co2  oil_co2
939   Albania  2001      ALB   3153615.0       0.000    0.015    3.125
940   Albania  2002      ALB   3123554.0       0.000    0.026    3.638
941   Albania  2003      ALB   3092993.0       0.302    0.026    3.891
942   Albania  2004      ALB   3062629.0       0.300    0.033    3.759
943   Albania  2005      ALB   3032636.0       0.256    0.022    3.910
944   Albania  2006      ALB   3003391.0       0.276    0.022    3.540
945   Albania  2007      ALB   2976089.0       0.468    0.033    3.375
946   Albania  2008      ALB   2951690.0       0.484    0.015    3.796
947   Albania  2009      ALB   2930553.0       0.585    0.018    3.415
948   Albania  2010      ALB   2913402.0       0.838    0.026    3.492
949   Albania  2011      ALB   2900660.0       0.976    0.029    3.774
950   Albania  2012      ALB   2892191.0       1.039    0.029    3.155
951   Albania  2013      ALB   2887019.0       1.129    0.033    3.331
952   Albania  2014      ALB   2884100.0       1.045    0.059    3.856
953   Albania  2015      ALB   2882482.0       0.954    0.062    3.338
954   Albania  2016      ALB   2881064.0       0.880    0.161    3.360
955   Albania  2017      ALB   2879361.0       1.011    0.168    4.079
956   Albania  2018      ALB   2877019.0       1.017    0.150    3.331
957   Albania  2019      ALB   2873883.0       1.048    0.132    3.440
958   Albania  2020      ALB   2866850.0       1.048    0.131    3.218
959   Albania  2021      ALB   2854710.0       1.048    0.150    3.246
1111  Algeria  2001      DZA  31200984.0       3.766   41.029   28.458
1112  Algeria  2002      DZA  31624700.0       4.058   44.653   29.495
1113  Algeria  2003      DZA  32055882.0       4.032   44.027   31.943
1114  Algeria  2004      DZA  32510184.0       4.897   41.209   32.818
1115  Algeria  2005      DZA  32956690.0       5.662   61.211   31.052
1116  Algeria  2006      DZA  33435082.0       6.540   49.306   35.233
1117  Algeria  2007      DZA  33983836.0       7.001   51.076   38.322
1118  Algeria  2008      DZA  34569592.0       7.583   51.551   37.363
1119  Algeria  2009      DZA  35196040.0       8.220   54.894   44.891

In [16]:
df2.to_csv('co2_pr3.csv', index=False)